body 
{
    
font-family: Arial, sans-serif;
   
margin: 0;
    
padding: 0;

}


header 
{
    
background-color: #333;
    
color: #fff;
    
padding: 10px 0;
    
position: fixed;
    
width: 100%;
    
top: 0;
    
z-index: 1000; /* Ensure it's above other content */

}


#navbar 
{
    
text-align: center;

}


#navbar ul 
{
    
list-style-type: none;
    
margin: 0;
    
padding: 0;

}


#navbar ul li 
{
    
display: inline;
    
margin: 0 10px;

}


#navbar ul li a 
{
    
color: #fff;
    
text-decoration: none;
    
padding: 10px 15px;
    
transition: background-color 0.3s ease, color 0.3s ease;

}


#navbar ul li a:hover 
{
    
background-color: #555;

}


/* Change styles on scroll */
.nav-scrolled 
{
    
background-color: #222;
    
box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}